<h1>Агенти</h1>
<p-card>
  <p-table [value]="agents() ?? skeletonRows" size="large">
    <ng-template #caption>
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText [formControl]="searchControl" placeholder="Пошук за ім'ям" class="w-full" />
      </p-iconfield>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>ПІБ</th>
        <th>Кількість полісів</th>
        <th>Дії</th>
      </tr>
    </ng-template>
    <ng-template #body let-agent>
      @if (!loading) {
        <tr>
          <td>{{agent.full_name}}</td>
          <td>{{agent.policy_count}}</td>
          <td class="whitespace-nowrap">
            <a [routerLink]="['/policies']" [queryParams]="{agentIds: agent.id}" pButton [text]="true" size="small">
              <i class="pi pi-eye"></i>
            </a>
          </td>
        </tr>
      } @else {
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
      }
    </ng-template>
  </p-table>
</p-card>
