<p-table [value]="loading() ? skeletonRows : policies()" size="large">
  <ng-template #header>
    <tr>
      <th>Серія</th>
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #numberTarget>Номер</span>
          <app-table-filter-text [target]="numberTarget" [formControl]="filterForm.controls.number"></app-table-filter-text>
        </div>
      </th>
      @if (showHolderColumn()) {
        <th>
          <div class="flex items-center justify-between gap-2">
            <span #holderTarget>Страхувальник</span>
            <app-table-filter-text [target]="holderTarget" [formControl]="filterForm.controls.holder"></app-table-filter-text>
          </div>
        </th>
      }
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #startDateTarget>Дата початку</span>
          <app-table-filter-date [target]="startDateTarget" [formControl]="filterForm.controls.startDate"></app-table-filter-date>
        </div>
      </th>
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #endDateTarget>Дата закінчення</span>
          <app-table-filter-date [target]="endDateTarget" [formControl]="filterForm.controls.endDate"></app-table-filter-date>
        </div>
      </th>
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #policyTypeTarget>Тип</span>
          <app-table-filter-select [target]="policyTypeTarget" [formControl]="filterForm.controls.policyTypes" [options]="policyTypes"></app-table-filter-select>
        </div>
      </th>
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #carTarget>Авто</span>
          <app-table-filter-text [target]="carTarget" [formControl]="filterForm.controls.car"></app-table-filter-text>
        </div>
      </th>
      <th>Агенти</th>
      <th>
        <div class="flex items-center justify-between gap-2">
          <span #statusTarget>Статус</span>
          <app-table-filter-select [target]="statusTarget" [formControl]="filterForm.controls.statuses" [options]="policyStatuses"></app-table-filter-select>
        </div>
      </th>
      <th>Дії</th>
    </tr>
  </ng-template>
  <ng-template #body let-policy>
    @if (!loading()) {
      <tr>
        <td>{{policy.series}}</td>
        <td>{{policy.number}}</td>
        @if (showHolderColumn()) {
          <td class="whitespace-nowrap">{{policy.holder_name}}</td>
        }
        <td>{{policy.start_date | date:'mediumDate'}}</td>
        <td>{{policy.end_date | date:'mediumDate'}}</td>
        <td>{{policy.policy_type | policyTypeLocal}}</td>
        <td>{{policy.car_model ?? '-'}}</td>
        <td>{{policy.agent_names ?? '-'}}</td>
        <td><p-tag [value]="policy.status | policyStatusLocal" [severity]="policy.status | policyStatusSeverity"/></td>
        <td class="whitespace-nowrap">
          <a [routerLink]="['/policies', policy.id]" pButton [text]="true" size="small">
            <i class="pi pi-eye"></i>
          </a>
          <a [routerLink]="['/policies', policy.id, 'edit']" pButton [text]="true" size="small">
            <i class="pi pi-pencil"></i>
          </a>
        </td>
      </tr>
    } @else {
      <tr>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        @if (showHolderColumn()) {
          <td><p-skeleton /></td>
        }
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
      </tr>
    }
  </ng-template>
</p-table>
