@if (loading()) {
  <p-skeleton height="2rem" width="200px" class="mb-4" />
  <div class="grid grid-cols-2 gap-8">
    <p-skeleton height="300px" />
  </div>
} @else if (person(); as p) {
  <div class="grid grid-cols-2 items-center mb-4">
    <h1>{{p.last_name}} {{p.first_name}} {{p.patronymic_name}}</h1>
    <a [routerLink]="['/people', p.id, 'edit']" class="justify-self-end" pButton>
      <i class="pi pi-pencil"></i>
      Редагувати
    </a>
  </div>
  <div class="grid grid-cols-2 gap-8 items-start">
    <p-panel header="Особисті дані">
      <div class="grid grid-cols-2 gap-4 p-4">
        <span class="text-color-secondary">Прізвище:</span>
        <span>{{p.last_name}}</span>
        @if (p.last_name_lat) {
          <span class="text-color-secondary">Прізвище (лат.):</span>
          <span>{{p.last_name_lat}}</span>
        }
        <span class="text-color-secondary">Ім'я:</span>
        <span>{{p.first_name}}</span>
        @if (p.first_name_lat) {
          <span class="text-color-secondary">Ім'я (лат.):</span>
          <span>{{p.first_name_lat}}</span>
        }
        @if (p.patronymic_name) {
          <span class="text-color-secondary">По батькові:</span>
          <span>{{p.patronymic_name}}</span>
        }
        @if (p.patronymic_name_lat) {
          <span class="text-color-secondary">По батькові (лат.):</span>
          <span>{{p.patronymic_name_lat}}</span>
        }
        <span class="text-color-secondary">Стать:</span>
        <span>{{p.sex | sexLocal}}</span>
        <span class="text-color-secondary">Статус:</span>
        <p-tag [value]="p.status | personStatusLocal" [severity]="p.status | personStatusSeverity"/>
        <span class="text-color-secondary">Дата народження:</span>
        <span>{{p.birth_date | date:'mediumDate'}}</span>
        <span class="text-color-secondary">ІПН:</span>
        <span>{{p.tax_number}}</span>
      </div>
    </p-panel>
    <p-panel header="Контактні дані">
      <div class="grid grid-cols-2 gap-4 p-4">
        <span class="text-color-secondary">Телефон:</span>
        <span>{{p.phone}}</span>
        @if (p.phone2) {
          <span class="text-color-secondary">Телефон 2:</span>
          <span>{{p.phone2}}</span>
        }
        <span class="text-color-secondary">Email:</span>
        <span>{{p.email}}</span>
      </div>
    </p-panel>
  </div>
  @if (p.policies.length > 0) {
    <p-panel header="Поліси" class="mt-8">
      <app-policy-table [policies]="p.policies" [showHolderColumn]="false" />
    </p-panel>
  }
}
