<h1 class="justify-self-start">{{editMode() ? 'Редактировать полис' : 'Новый полис'}}</h1>
<p-button label="Сохранить" icon="pi pi-save" (onClick)="save()" class="fixed right-4 top-4 z-10" raised />
<div class="grid grid-cols-2 gap-8 items-start">
  <p-panel class="p-2 pt-4" header="Общие данные" toggleable>
    <div class="grid gap-8 mt-6">
      <p-floatlabel>
        <p-select [formControl]="generalGroup.controls.type" id="type" fluid [options]="policyTypes"></p-select>
        <label for="type">Тип</label>
      </p-floatlabel>
      <div class="grid grid-flow-col gap-8">
        <p-floatlabel>
          <input id="series" type="text" pInputText [formControl]="generalGroup.controls.series" class="w-full"/>
          <label for="series">Серия</label>
        </p-floatlabel>
        <p-floatlabel>
          <input id="number" type="text" pInputText [formControl]="generalGroup.controls.number" class="w-full"/>
          <label for="number">Номер</label>
        </p-floatlabel>
      </div>
      <p-floatlabel>
        <app-datepicker [formControl]="generalGroup.controls.startDate" id="startDate"></app-datepicker>
        <label for="startDate">Дата начала</label>
      </p-floatlabel>
      <p-floatlabel>
        <app-datepicker [formControl]="generalGroup.controls.endDate" id="endDate"></app-datepicker>
        <label for="endDate">Дата окончания</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-select [formControl]="generalGroup.controls.status" id="status" fluid [options]="policyStatuses"></p-select>
        <label for="status">Статус</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-multiselect [formControl]="agentsControl" id="agents" fluid [options]="agents()" optionLabel="full_name" display="chip"></p-multiselect>
        <label for="agents">Агенты</label>
      </p-floatlabel>
    </div>
  </p-panel>
  <app-person-editor-control [allowExisting]="true" header="Страхователь" [formControl]="holderControl" />
  @switch (generalGroup.controls.type.value) {
    @case('GreenCard') {
      <p-panel class="p-2 pt-4" header="Детали зеленой карты" toggleable>
        <div class="grid gap-8 mt-6">
          <p-floatlabel>
            <input id="territory" type="text" pInputText [formControl]="greenCardGroup.controls.territory" class="w-full"/>
            <label for="territory">Территория</label>
          </p-floatlabel>
          <div class="grid grid-flow-col gap-8">
            <p-floatlabel>
              <p-inputnumber inputId="period_in_units" [formControl]="greenCardGroup.controls.period_in_units" class="w-full"/>
              <label for="period_in_units">Срок</label>
            </p-floatlabel>
            <p-floatlabel>
              <p-select [formControl]="greenCardGroup.controls.period_unit" id="period_unit" fluid [options]="periodUnits"></p-select>
              <label for="period_unit">Единица</label>
            </p-floatlabel>
          </div>
          <p-floatlabel>
            <p-inputnumber id="premium" [formControl]="greenCardGroup.controls.premium" class="w-full"/>
            <label for="premium">Премия</label>
          </p-floatlabel>
        </div>
      </p-panel>
      <app-car-editor-control [allowExisting]="true" header="Автомобиль" [formControl]="carControl"/>
    }
    @case('Medassistance') {
      <p-panel class="p-2 pt-4" header="Детали медассистанс" toggleable>
        <div class="grid gap-8 mt-6">
          <p-floatlabel>
            <input id="territory" type="text" pInputText [formControl]="medassistanceGroup.controls.territory" class="w-full"/>
            <label for="territory">Территория</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber inputId="period_days" [formControl]="medassistanceGroup.controls.period_days" class="w-full"/>
            <label for="period_days">Срок (дни)</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber id="premium" [formControl]="medassistanceGroup.controls.premium" class="w-full"/>
            <label for="premium">Премия</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber id="payout" [formControl]="medassistanceGroup.controls.payout" class="w-full"/>
            <label for="payout">Выплата</label>
          </p-floatlabel>
          <p-floatlabel>
            <input id="program" type="text" pInputText [formControl]="medassistanceGroup.controls.program" class="w-full"/>
            <label for="program">Программа</label>
          </p-floatlabel>
        </div>
      </p-panel>
      <div class="grid gap-8">
        @for (control of membersArray.controls; track control; let i = $index) {
          <app-person-editor-control [allowExisting]="true" [header]="'Застрахованный ' + (i + 1)" [formControl]="control" showNameInHeader [showRemoveButton]="membersArray.length > 1" (onRemove)="removeMember(i)"/>
        }
        <p-button label="Добавить застрахованного" icon="pi pi-plus" [outlined]="true" (onClick)="addMember()"/>
      </div>
    }
    @case('Osago') {
      <p-panel class="p-2 pt-4" header="Детали ОСАГО" toggleable>
        <div class="grid gap-8 mt-6">
          <p-floatlabel>
            <p-select [formControl]="osagoGroup.controls.zone" id="zone" fluid [options]="osagoZones"></p-select>
            <label for="zone">Зона</label>
          </p-floatlabel>
          <div class="grid grid-flow-col gap-8">
            <p-floatlabel>
              <p-inputnumber inputId="osago_period_in_units" [formControl]="osagoGroup.controls.period_in_units" class="w-full"/>
              <label for="osago_period_in_units">Срок</label>
            </p-floatlabel>
            <p-floatlabel>
              <p-select [formControl]="osagoGroup.controls.period_unit" id="osago_period_unit" fluid [options]="periodUnits"></p-select>
              <label for="osago_period_unit">Единица</label>
            </p-floatlabel>
          </div>
          <p-floatlabel>
            <p-inputnumber id="osago_premium" [formControl]="osagoGroup.controls.premium" class="w-full"/>
            <label for="osago_premium">Премия</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-select id="exempt" [formControl]="osagoGroup.controls.exempt" fluid [options]="['Нет', 'Пенсионер Украины', 'Инвалидность' ,'УБД', 'Военный Пенсионер']"></p-select>
            <label for="exempt">Льгота</label>
          </p-floatlabel>
        </div>
      </p-panel>
      <app-car-editor-control [allowExisting]="true" header="Автомобиль" [formControl]="carControl"/>
    }
  }
</div>
