<h1>Редактировать полис</h1>
<div class="grid grid-cols-2 gap-8">
  <p-card class="p-2 pt-4">
    <div class="grid gap-8">
      <h3>Общие данные</h3>
      <div class="grid grid-flow-col gap-8">
        <p-floatlabel>
          <input id="series"type="text" pInputText [formControl]="generalGroup.controls.series" class="w-full"/>
          <label for="series">Серия</label>
        </p-floatlabel>
        <p-floatlabel>
          <input id="number"type="text" pInputText [formControl]="generalGroup.controls.number" class="w-full"/>
          <label for="number">Номер</label>
        </p-floatlabel>
      </div>
      <p-floatlabel>
        <p-datepicker [formControl]="generalGroup.controls.startDate" id="startDate" showIcon fluid></p-datepicker>
        <label for="startDate">Дата начала</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-select [formControl]="generalGroup.controls.type" id="type" fluid [options]="policyTypes"></p-select>
        <label for="type">Тип</label>
      </p-floatlabel>
    </div>
  </p-card>
  <app-person-editor [allowExisting]="true" header="Страхователь" #holder />
  @switch (generalGroup.controls.type.value) {
    @case('life') {
      <p-card class="p-2 pt-4">
        <div class="grid gap-8">
          <h3>Детали Лайф</h3>
          <p-floatlabel>
            <p-select [formControl]="lifePolicyGroup.controls.period" id="period" fluid [options]="lifePolicyPeriods"></p-select>
            <label for="period">Период</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber id="termYears" [formControl]="lifePolicyGroup.controls.termYears" class="w-full"/>
            <label for="termYears">Срок</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber id="premium" [formControl]="lifePolicyGroup.controls.premium" class="w-full"/>
            <label for="premium">Взнос</label>
          </p-floatlabel>
        </div>
      </p-card>
      <app-person-editor [allowExisting]="true" header="Застрахованное лицо" #insured />
    }
    @case('green-card') {
      <p-card class="p-2 pt-4">
        <div class="grid gap-8">
          <h3>Детали зеленой карты</h3>
          <p-floatlabel>
            <input id="territory" type="text" pInputText [formControl]="greenCardPolicyGroup.controls.territory" class="w-full"/>
            <label for="territory">Территория</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber inputId="termDays" [formControl]="greenCardPolicyGroup.controls.termDays" class="w-full"/>
            <label for="termDays">Срок в днях</label>
          </p-floatlabel>
          <p-floatlabel>
            <p-inputnumber id="premium" [formControl]="greenCardPolicyGroup.controls.premium" class="w-full"/>
            <label for="premium">Взнос</label>
          </p-floatlabel>
        </div>
      </p-card>
      <app-car-editor [allowExisting]="true" header="Автомобиль"/>
    }
  }
  <p-button label="Сохранить" icon="pi pi-save" (onClick)="save()" class="col-span-2 justify-self-end"/>
</div>

