<p-panel class="p-2 pt-4" [header]="fullHeader()" [toggleable]="true">
  @if (showRemoveButton()) {
    <ng-template #icons>
      <p-button icon="pi pi-times" severity="danger" rounded text (onClick)="onRemove.emit()"/>
    </ng-template>
  }
  <div class="grid gap-8 mt-6">
    @if (allowExisting()) {
      <p-floatlabel class="mb-8">
        <p-autocomplete #existingPersonAutocomplete [suggestions]="peopleSearchSuggestions()" (completeMethod)="search($event)" fluid [formControl]="existingPersonIdControl" id="existingPerson" />
        <label for="existingPerson">Существующий</label>
      </p-floatlabel>
    }
    <div class="grid grid-flow-col gap-8">
      <p-floatlabel>
        <input id="lastName" type="text" pInputText [formControl]="personGroup.controls.last_name" class="w-full"/>
        <label for="lastName">Фамилия</label>
      </p-floatlabel>
      <p-floatlabel>
        <input id="lastNameLat" type="text" pInputText [formControl]="personGroup.controls.last_name_lat" class="w-full"/>
        <label for="lastNameLat">Фамилия (лат.)</label>
      </p-floatlabel>
    </div>
    <div class="grid grid-flow-col gap-8">
      <p-floatlabel>
        <input id="firstName" type="text" pInputText [formControl]="personGroup.controls.first_name" class="w-full"/>
        <label for="firstName">Имя</label>
      </p-floatlabel>
      <p-floatlabel>
        <input id="firstNameLat" type="text" pInputText [formControl]="personGroup.controls.first_name_lat" class="w-full"/>
        <label for="firstNameLat">Имя (лат.)</label>
      </p-floatlabel>
    </div>
    <div class="grid grid-flow-col gap-8">
      <p-floatlabel>
        <input id="patronymicName" type="text" pInputText [formControl]="personGroup.controls.patronymic_name" class="w-full"/>
        <label for="patronymicName">Отчество</label>
      </p-floatlabel>
      <p-floatlabel>
        <input id="patronymicNameLat" type="text" pInputText [formControl]="personGroup.controls.patronymic_name_lat" class="w-full"/>
        <label for="patronymicNameLat">Отчество (лат.)</label>
      </p-floatlabel>
    </div>
    <div class="grid grid-flow-col gap-8">
      <p-floatlabel>
        <p-select id="sex" [options]="sexOptions" optionLabel="label" optionValue="value" [formControl]="personGroup.controls.sex" fluid />
        <label for="sex">Пол</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-select id="status" [options]="statusOptions" optionLabel="label" optionValue="value" [formControl]="personGroup.controls.status" fluid />
        <label for="status">Статус</label>
      </p-floatlabel>
    </div>
    <p-floatlabel>
      <app-datepicker [formControl]="personGroup.controls.birth_date" id="birthDate"></app-datepicker>
      <label for="birthDate">Дата рождения</label>
    </p-floatlabel>
    <p-floatlabel>
      <input id="taxNumber" type="text" pInputText [formControl]="personGroup.controls.tax_number" class="w-full"/>
      <label for="taxNumber">ИНН</label>
    </p-floatlabel>
    <p-floatlabel>
      <input id="phone" type="text" pInputText [formControl]="personGroup.controls.phone" class="w-full"/>
      <label for="phone">Телефон</label>
    </p-floatlabel>
    <p-floatlabel>
      <input id="phone2" type="text" pInputText [formControl]="personGroup.controls.phone2" class="w-full"/>
      <label for="phone2">Телефон 2</label>
    </p-floatlabel>
    <p-floatlabel>
      <input id="email" type="email" pInputText [formControl]="personGroup.controls.email" class="w-full"/>
      <label for="email">Email адрес</label>
    </p-floatlabel>
  </div>
</p-panel>
