@if (authService.isAuthenticated()) {
  <div data-id="sidebar" class="grid grid-rows-[120px_1fr_150px] gap-2 bg-surface-200 w-[300px] h-full top-0 fixed p-4 border-r border-surface-300">
    <div data-id="logo">
      <img src="logo.png" alt="Insurance logo" class="w-[100px] h-[100px]">
    </div>
    <div data-id="menu" class="grid grid-flow-row content-start gap-4">
      <a routerLink="/dashboard" routerLinkActive="text-primary" class="text-xl"><i class="pi pi-home"></i> Головна сторінка</a>
      <a routerLink="/people" routerLinkActive="text-primary" class="text-xl"><i class="pi pi-user"></i> Люди</a>
      <a routerLink="/policies" routerLinkActive="text-primary" class="text-xl"><i class="pi pi-credit-card"></i> Поліси</a>
    </div>
    <div data-id="user" class="grid items-center content-center gap-4">
      <span class="text-sm truncate">{{ authService.userEmail() }}</span>
      <p-button
        label="Вийти"
        icon="pi pi-sign-out"
        severity="secondary"
        size="small"
        (onClick)="logout()"
      />
    </div>
  </div>
}
<div data-id="content" [class.pl-[300px]]="authService.isAuthenticated()">
  <div [class.p-4]="authService.isAuthenticated()">
    <router-outlet></router-outlet>
  </div>
</div>
