<h1>Люди</h1>
<p-button routerLink="/people/new" class="fixed right-4 top-4 z-10" label="Добавить человека" icon="pi pi-plus" raised />
<p-card>
  <p-table [value]="people() ?? skeletonRows" size="large">
    <ng-template #caption>
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText [formControl]="searchControl" placeholder="Поиск по ФИО, ИНН, телефону, email" class="w-full" />
      </p-iconfield>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Статус</th>
        <th>Дата рождения</th>
        <th>ИНН</th>
        <th>Телефон</th>
        <th>Действия</th>
      </tr>
    </ng-template>
    <ng-template #body let-person>
      @if (!loading) {
        <tr>
          <td>{{person.last_name}}</td>
          <td>{{person.first_name}}</td>
          <td>{{person.patronymic_name || '-'}}</td>
          <td><p-tag [value]="person.status | personStatusLocal" [severity]="person.status | personStatusSeverity"/></td>
          <td>{{person.birth_date | date:'mediumDate'}}</td>
          <td>{{person.tax_number}}</td>
          <td>{{person.phone}}</td>
          <td class="whitespace-nowrap">
            <a [routerLink]="['/people', person.id]" pButton [text]="true" size="small">
              <i class="pi pi-eye"></i>
            </a>
            <a [routerLink]="['/people', person.id, 'edit']" pButton [text]="true" size="small">
              <i class="pi pi-pencil"></i>
            </a>
          </td>
        </tr>
      } @else {
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
      }
    </ng-template>
  </p-table>
</p-card>
