<h1>Люди</h1>
<p-button routerLink="/people/new" class="fixed right-4 top-4 z-10" label="Добавить человека" icon="pi pi-plus" raised />
<p-card>
  <p-table [value]="people() ?? skeletonRows" size="large">
    <ng-template #caption>
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText [formControl]="searchControl" placeholder="Поиск по ФИО, ИНН, телефону, email" class="w-full" />
      </p-iconfield>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>ИНН</th>
        <th>Телефон</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template #body let-person>
      @if (!loading) {
        <tr>
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.sex}}</td>
          <td>{{person.birth_date}}</td>
          <td>{{person.tax_number}}</td>
          <td>{{person.phone}}</td>
          <td>{{person.email}}</td>
        </tr>
      } @else {
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
      }
    </ng-template>
  </p-table>
</p-card>
