<div data-id="cards" class="grid grid-cols-3 gap-8">
  <p-card header="Люди">
    <span class="text-xl">15</span>
  </p-card>
  <p-card header="Полисы">
    <span class="text-xl">15</span>
  </p-card>
  <p-card header="Машины">
    <span class="text-xl">15</span>
  </p-card>
</div>
<div data-id="tables" class="grid grid-cols-2 gap-8 mt-8">
  <p-panel header="Дни рождения" >
    <p-table [value]="people" size="large">
      <ng-template #header>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Телефон</th>
          <th>Дата рождения</th>
        </tr>
      </ng-template>
      <ng-template #body let-person>
        <tr>
          <td class="whitespace-nowrap">{{ person.firstName }} {{ person.lastName }}</td>
          <td>{{person.email}}</td>
          <td>{{person.phone}}</td>
          <td>{{person.birthDate | date:'mediumDate'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-panel header="Полисы" >
    <p-table [value]="policies" size="large">
      <ng-template #header>
        <tr>
          <th>Серия</th>
          <th>Номер</th>
          <th>Страхователь</th>
          <th>Дата начала</th>
          <th>Дата окончания</th>
          <th>Тип</th>
        </tr>
      </ng-template>
      <ng-template #body let-policy>
        <tr>
          <td>{{policy.series}}</td>
          <td>{{policy.number}}</td>
          <td class="whitespace-nowrap">{{ policy.holder.firstName }} {{ policy.holder.lastName }}</td>
          <td>{{policy.startDate | date:'mediumDate'}}</td>
          <td>{{policy.endDate | date:'mediumDate'}}</td>
          <td>{{policy.type | policyTypeLocal}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
